
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Glitch+Pop&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: #dbcfcf;
    --primary-color-dark:#aaa;
    --secondary-color: rgb(223, 236, 243);
    --text-dark: #1f2937;
    --text-light:

}
body {
            /* text-align: center; */
            font-size: 14px;
            font-family: 'Rubik', sans-serif;
            color: #202124;
            margin: 20px 0 0 30px;
    }

html {
    scroll-behavior: smooth;
}

.homepage .name {
    font-family: 'Rubik Glitch Pop', system-ui;
}

.background {
    display: flex;
    flex-wrap: wrap; 
    /* max-width: 100%;
    /* max-height: 100%; */
    height: auto;
    display: grid;
    /* max-width: 100%;
    max-height: 100%; */
}

.background img {
    max-width: 200%;
    max-height: 100vh;
    margin: auto;
} 

.navbar, .navigate {
    display: flex;
}

.navbar {
    position: absolute;
    max-width: 1250px;
    justify-content:right;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    /* font-family: 'Rubik', sans-serif;
    font-family: 'Rubik Glitch Pop', system-ui; */
}
.navigate{
    /* justify-content: center;
    flex-direction: flex;
    position: relative; */
    list-style-type: none;
    gap: 20px;
    font-size: 20px;
}

li{
    list-style-type: none;
}

.avatar img {
    position: absolute;
    width: 60px;
    height: auto;
}

