
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Glitch+Pop&display=swap');


* {
    margin: 0px;
    padding: 0px;
    /* background-color: #25274D; */
    /* color: whitesmoke; */
}

:root {
    --primary-color: #dbcfcf;
    --primary-color-dark:#aaa;
    --secondary-color: rgb(223, 236, 243);
    --text-dark: whitesmoke;
    --text-light:#2e151B;

}
body {
            /* text-align: center; */
            font-size: 14px;
            font-family: 'Rubik', sans-serif;
            color: aliceblue;
            margin: 20px 0 0 30px;

    }

html {
    scroll-behavior: smooth;
}

.navbar-brand{
    font-family: 'Rubik Glitch Pop', system-ui;
}
.homepage .name {
    
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 100px;
    /* color: azure; */
}



.nav-item {
    color: aliceblue;
}

.nav-item:hover{
    color: antiquewhite;
}
.background {
    display: flex;
    flex-wrap: wrap; 
    /* max-width: 100%;
    /* max-height: 100%; */
    height: auto;
    display: grid;
    /* max-width: 100%;
    max-height: 100%; */
}

/* .background img {
    max-width: 200%;
    max-height: 100vh;
    margin: auto;
}  */
/* 
.navbar, .navigate {
    display: flex;
    
} */

/* .navbar {
    position: absolute;
    max-width: 1250px;
    justify-content:right;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    /* font-family: 'Rubik', sans-serif;
    font-family: 'Rubik Glitch Pop', system-ui; 
} */
/* .navigate{
    /* justify-content: center;
    flex-direction: flex;
    position: relative; */
    /* list-style-type: none;
    gap: 20px;
    font-size: 20px;
} */ 

li {
    list-style-type: none;
}

.avatar {
    /* justify-content: center; */
    /* display: flex; */
    
    /* position: relative; */
}
.avatar img {
    /* position: absolute; */
    width: 60%;
    height: auto;
}

.homepage{
    /* color: aliceblue; */
    /* display: flex; */
    align-items: center;
    align-content: center;
}

.contactinfo {
    display: flex;
    /* display:flex; */
    align-items: center;
    justify-content:center;
}
.bi {
    width: auto;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    color: #DA7B93;
}

.language {
    display: flex;
    
}

.fa-brands {
    padding-left: 10px;
    padding-right: 10px;
}

